body {
  background-image: url(./assets/rainbowspace.jpg);
  background-size: cover;
  height: 97vh;
  background-repeat: no-repeat;
}

h1 {
  color: white;
  font-family: 'Audiowide';
  font-size: 40px;
  text-shadow: 2px 1px black;
}

.container {
  height: 100%;
  width: 100%;
  max-width: 1500px;
  margin: auto;
}

.modal-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  top: 0;
}

.modal-content {
  background-color: rgb(78, 163, 243);
  text-align: center;
  margin-left: 20px;
  padding: 50px;
  border: solid 1px whitesmoke;
  background-image: url(./assets/lostinspace.jpg);
  font-family: 'Expletus Sans';
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: .5rem;
}


aside {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#gameCards {
  width: 70%;
}

aside > div {
  width: 55%;
  margin: 4px;
  padding: 20px;
  background-color: rgb(218, 124, 188);
  text-align: center;
  border-radius: 5px;
  font-family: 'Audiowide';
  border: solid 3px white;
  opacity: .8;
}

button {
  padding: 10px;
  font-size: 3rem;
  background: none;
  border: solid 5px white;
  font-family: 'Expletus Sans';
}

.card {
  background-size: contain;
  background-repeat: no-repeat;
  margin: 5px 0;
  position: relative;
}

.card-front, .card-back {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  border: solid 1px whitesmoke;
  border-radius: 2px;
}

.card-back {
  border: solid 2px black;
}

.card-back {
  background-image: url(./assets/nebula3.jpg)
}

.css-logo {
  background-image: url(./assets/earth.jpg)
}

.docker-logo {
  background-image: url(./assets/jupiter.jpg)
}

.github-logo {
  background-image: url(./assets/mars.jpg)
}

.html-logo {
  background-image: url(./assets/mercury.jpg)
}

.js-logo {
  background-image: url(./assets/moon.jpg)
}

.mysql-logo {
  background-image: url(./assets/neptune.jpg)
}

.node-logo {
  background-image: url(./assets/saturn.jpg)
}

.php-logo {
  background-image: url(./assets/venus.png)
}

.react-logo {
  background-image: url(./assets/uranus.jpg)
}

.col-1 {
  width: 8%;
}
.col-2 {
  width: 16%;
}
.col-3 {
  width: 24%;
}
.col-4 {
  width: 32%;
}
.col-5 {
  width: 40%;
}
.col-6 {
  width: 48%;
}
.col-7 {
  width: 56%;
}
.col-8 {
  width: 64%;
}
.col-9 {
  width: 72%;
}
.col-10 {
  width: 80%;
}
.col-11 {
  width: 88%;
}
.col-12 {
  width: 96%;
}

.hidden {
  display: none;
}
